- base = ( 'production' == process.env.NODE_ENV ? 'static' : 'http://localhost:8081' );

html
  head
    title="Isomorphic React Application"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    #react-app!= content

  script(src=base+'/js/app.js', defer)
